*, *::before, *::after {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
}

body {
    background: linear-gradient(to right, #00AAFF, #00FF6C)
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 70vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(80px, auto) repeat(5, 80px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #ffff;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, 0.90);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10 px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .pre-op {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .cur-op {
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
}